
.jumbotron{
    height:960px;
}


.container{
background-color:#000000;
}



.col-6{
color:#fdfdfd;

}


.col-12{
    color:#ffffff;
}

h1{
    color:#ffffff;
    background-color: #000000;

}


h2{
    color:#ffffff;
}


h3{
    color:#ffffff;
}


