
.jumbotron{
    height:960px;
}


.container{
background-color:#000000;
}



.col-6{
color:#fdfdfd;

}


.col-12{
    color:#ffffff;
}

h1{
    color:#ffffff;
    background-color: #000000;

}


h2{
    color:#ffffff;
}


h3{
    color:#ffffff;
}



#buttons{
    
    background-color:#ffffff;
    columns: #000000;
    border: solid 1px #fa0606;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
    color: #000000;
}
    
#buttons:hover{
        transition-duration: 0.4s;
        background:#e7e7e7;;
        border: solid 1px #ffffff;
        columns: #ffffff;
      
  }

  #blanksFromAnswer{
background-color: gray;
color: #000000;

  }